// [data-mantine-color-scheme='light'] .m_6c018570[data-variant='default']
// {
//     --input-bd: var(--mantine-color-gray-2) !important;
//     --input-bg: var(--mantine-color-white) !important;
//     --input-bd-focus: var(--mantine-primary-color-filled);
// }

h2#mantine-c9nrmr5tl-title {
  color: #0581e6 !important;
}

.m_615af6c9 {
  color: #0581e6 !important;
}

.modal-image {
  .m_54c44539 {
    background-color: rgba(255, 255, 255, 0.9) !important;
  }

  .m_b5489c3c {
    background-color: rgba(255, 255, 255, 0) !important;
  }
}
